<div class="container">
  <div class="row justify-content-center">
    <h1 class="py-5">How this works</h1>
  </div>

  <div class="row">
    <div class="col-2">
      <img src="https://play-lh.googleusercontent.com/coMv1dl31PCfEs6essJoEUwVryaqKHKQvENdZ_WYpN-PXa8Qfitkg3grQxIVN22W5A" alt="" class="rounded w-100">
    </div>
    <div class="col-1 my-auto">
      <i class="fas fa-arrow-right h1 text-center"></i>
    </div>
    <div class="col-2">
      <img src="https://play-lh.googleusercontent.com/coMv1dl31PCfEs6essJoEUwVryaqKHKQvENdZ_WYpN-PXa8Qfitkg3grQxIVN22W5A" alt="" class="rounded w-100">
    </div>
    <div class="col-2 my-auto d-flex justify-content-center">
      <i class="fas fa-arrow-right h1 "></i>
    </div>
    <div class="col-2">
      <img src="https://play-lh.googleusercontent.com/coMv1dl31PCfEs6essJoEUwVryaqKHKQvENdZ_WYpN-PXa8Qfitkg3grQxIVN22W5A" alt="" class="rounded w-100">
    </div>
    <div class="col-1 my-auto">
      <i class="fas fa-arrow-right h1 text-center"></i>
    </div>
    <div class="col-2">
      <img src="https://play-lh.googleusercontent.com/coMv1dl31PCfEs6essJoEUwVryaqKHKQvENdZ_WYpN-PXa8Qfitkg3grQxIVN22W5A" alt="" class="rounded w-100">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui rerum autem, nisi, quam </p>
    </div>
    <div class="col-1"></div>

    <div class="col-2">
      <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ipsam, nostrum quas dolore repellendus </p>
    </div>

    <div class="col-2"></div>

    <div class="col-2">
      <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ipsam, nostrum quas dolore repellendus </p>
    </div>

    <div class="col-1"></div>

    <div class="col-2">
      <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ipsam, nostrum quas dolore repellendus </p>
    </div>
  </div>
  <div class="row d-flex justify-content-center py-5">
    <button type="button" class="btn btn-secondary">Enter site</button>
  </div>
</div>
