<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%#= @modules.first.name %>
<%#= react_component("ShowModules", { mod: @modules})%>

<%#= javascript_pack_tag 'index' %>
<div id="root"></div>
<%#= @universities.first.name %>
<%#= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<div id="root2"></div>
